<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="Student.css">
</head>
<body>

    <div class="center">
        <h1>Student Form</h1>
        <form action="/students/add" method="post">
           
        
            <label for="name">Name</label>
            <input type="text" name="name" required />

            <label for="dept">Department</label>
            <input type="text" name="dept" required />


            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" required />

            <label for="district">District</label>
            <input type="text" name="district" required />

            <label for="age">Age</label>
            <input type="text" name="age" required />

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

